ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.tpl {
	position: absolute;
	display: block;
	float: left;
	height: 100%;
	width: 100%;
	background-repeat: none;
	background-position: center center;
	background-size: cover;


	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/overlay.png);
	}

	&.big-photo {
		.venue-description {
			position: absolute;
			background: rgba(0,0,0,.5);
			top: 30%;
			left: 0;
			margin: auto;
			width: 100%;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 30px 20px;
			text-align: center;

			h1,
			p {
				color: #fff;
			}

			h1 {
				text-transform: uppercase;
				display: inline-block;
				font-size: 8em;
				position: relative;
				text-shadow: 1px 1px 2px #000000;
		        filter: dropshadow(color=#000000, offx=1, offy=1);
		        font-weight: 900;
		        margin: 0 0 20px 0;
		        line-height: 1;
		        letter-spacing: .1em;

				&:after {
					content: ". . .";
					text-align: center;
					display: inline-block;
					position: absolute;
					left: 50%;
					margin-left: -50px;
					bottom: -10px;
					width: 100px;
					font-size: 0.15em;

				}
			}

			.tip {
				font-family: $sans;
				font-size: 2em;
				font-weight: 100;
				margin: 0;
                padding: 0;
			}
		}
	}

	&.small-photo {
		.cover-image {
			position: absolute;
			top: 0;
			right: 0;
			width: 55%;
			height: 100%;
			background-repeat: none;
			background-position: center center;
			background-size: cover;
		}
		.venue-description {
			position: absolute;
			background: #000;
			top: 0;
			left: 0;
			margin: auto;
			width: 45%;
			height: 100%;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 30px 20px;
			text-align: center;

			h1,
			p {
				color: #fff;
			}

			h1 {
				text-transform: uppercase;
				display: inline-block;
				font-size: 5em;
				position: relative;
				text-shadow: 1px 1px 2px #000000;
		        filter: dropshadow(color=#000000, offx=1, offy=1);
		        font-weight: 900;
		        margin: 0 0 20px 0;
		        line-height: 1;

				&:after {
					content: ". . .";
					text-align: center;
					display: inline-block;
					position: absolute;
					left: 50%;
					margin-left: -50px;
					bottom: -10px;
					width: 100px;
					font-size: 0.15em;

				}
			}

			.tip {
				font-family: $marck;
				font-size: 1.3em;
				font-weight: 100;
				margin: 0;
			}
		}
	}

    &.category {

        aside {
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            background: #000;
        }

        .cover-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: none;
            background-position: center center;
            background-size: cover;
            @include filter(contrast(150%));
        }

        .top-pick-venue {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 100%;
            @extend .light-bg;
            @include box-sizing();
            padding: 30px;

            h2 {
                text-align: center;
                font-size: 5em;
                color: $dark;
                font-weight: bold;
                font-family: $amatic;
                margin: 10px 0;
            }

            .tip {
                color: $gray;
                font-size: 1.8em;
                font-weight: 100;
                text-align: center;
                display: block;
                margin: 0 20px;
                font-family: $marck;
            }

            &.magazine {
                h2 {
                    font-size: 5em;
                    font-family: $niconne;
                }

                .tip {
                    font-size: 1.8em;
                    font-family: $gudea;
                }
            }

            &.common {
                h2 {
                    font-size: 5em;
                    font-family: $marck;
                }

                .tip {
                    font-size: 1.8em;
                    font-family: $oregano;
                }
            }

            &.fancy {
                h2 {
                    font-size: 5em;
                    font-family: $bebas;
                }

                .tip {
                    font-size: 2em;
                    font-family: $garamond;
                }
            }

            &.fashion {
                h2 {
                    font-size: 4em;
                    font-family: $englebert;
                    line-height: 1;
                    margin-top: 20px;
                }

                .tip {
                    font-size: 1.8em;
                    font-family: $shadows;
                }
            }

            .location-map {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 200px;
                background-repeat: none;
                background-position: center center;
                background-size: cover;
                border-top:1px solid $gray;

                .location-details {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    display: table;
                    > div {
                        display: table-cell;
                        vertical-align: middle;
                        > div {
                            margin: 0 30px;
                            background: rgba(255, 255, 255, 0.75);
                            border: 1px solid $gray;
                            text-align: center;
                            padding: 20px 10px 10px 10px;
                            position: relative;
                            p{
                                font-family: $sans;
                                font-size: 1.6em;
                                margin: 5px;
                            }

                            &:after {
                                content: "";
                                background: #fff url(../images/location.png) center center no-repeat;
                                border: 1px solid $gray;
                                @include border-radius(50%);
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                top: -15px;
                                left: 50%;
                                margin-left: -15px;
                            }
                        }
                    }
                }
            }

            header {
                position: relative;
                height: 40px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: $dark;
                    top: 50%;
                    left: 0;
                    z-index: 1;
                }

                .badge {
                    @include border-radius(50%);
                    background: #fff;
                    width: 40px;
                    height: 40px;
                    border: 1px solid $dark;
                    margin: 0 auto;
                    position: relative;
                    z-index:2;

                    > div {
                        @include border-radius(50%);
                        width: 32px;
                        height: 32px;
                        background-color: $dark;
                        position: relative;
                        top: 4px;
                        left: 4px;
                    }
                }
            }


        }

        .category-name {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: table;
            @extend .vignette2;

            header {
                text-align: center;
                padding: 0 20px;
                display: table-cell;
                vertical-align: middle;
                @include opacity(0.8);
            }

            h1 {
                color: #fff;
                font-size: 9em;
                font-family: $sixcaps;
                text-transform: uppercase;
                line-height: 1;
                margin: 0;
            }

            h3 {
                color: #fff;
                font-size: 1.6em;
                font-weight: normal;
                margin: 10px 0 0 0;
                padding: 10px 5px 0 5px;
                font-family: $lora;
                display: inline-block;
                border-top: 1px solid #fff;

            }
        }
    }
}
body {
    position: fixed;
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.venues {
    position: absolute;
    width: 100%;
    height: 100%;
    &.ng-hide {
        display: block !important;
        top: 100%;
    }
    &.ng-hide-remove,
    &.ng-hide-add
    {
        -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }

    &.ng-hide-remove {
        top: 100%;
        &.ng-hide-remove-active {
            top: 0;
        }
    }

    &.ng-hide-add {
        top: 0;
        &.ng-hide-add-active{
            top: -100%;
        }
    }
    &.up {
        &.ng-hide-remove {
            top: -100%;
            &.ng-hide-remove-active {
                top: 0;
            }
        }

        &.ng-hide-add {
            top: 0;
            &.ng-hide-add-active{
                top: 100%;
            }
        }
    }
}
.venue {
    position: absolute;
    width: 100%;
    height: 100%;
    &.ng-hide {
        display: block !important;
        left: 100%;
    }
    &.ng-hide-remove,
    &.ng-hide-add
    {
        -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }

    &.ng-hide-remove {
        left: 100%;
        &.ng-hide-remove-active {
            left: 0;
        }
    }

    &.ng-hide-add {
        left: 0;
        &.ng-hide-add-active{
            left: -100%;
        }
    }
}
.backward {
    .venue {
        &.ng-hide {
            left: 100%;
        }
        &.ng-hide-remove {
            left: -100%;
            &.ng-hide-remove-active {
                left: 0;
            }
        }

        &.ng-hide-add {
            left: 0;
            &.ng-hide-add-active{
                left: 100%;
            }
        }
    }
}
