@import "compass";
@import "normalize";
@import "variables";

/* Put your CSS here */
html, body {
	margin: 0;
}

body {
	background: #fafafa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}
.container {
  width: 100%;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	@extend .clearfix;

  li {
  	display: block;
  	float: left;
  	height: 500px;
	width: 50%;
	background-size: cover;
  }
}
